{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="header container-fluid d-flex flex-wrap flex-row align-items-center justify-content-center" id="home">
            <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-7 h-50 d-block header_content text-center">
                <img src="{{ asset('build/img/logo_black.svg') }}" class="h-100" alt="Logo">
            </div>
            <h4 class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-auto d-block sub-heading">
                {% if meta.description is defined %} {{ meta.description }} {% endif %}
            </h4>
        </section>
        <section class="section_whole_page" id="ref">
            <div class="container-fluid">
                <h2 class="h2">My work</h2>
                <section class="benefits d-flex flex-row flex-wrap align-items-center justify-content-around w-100 h-75">
                    {% for work in works %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-row flex-wrap cards">
                        <div class="ref-image">

                        </div>
                        <div class="ref-title">

                        </div>
                        <div class="ref-description">

                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-row flex-wrap cards">
                        No work done!
                    </div>
                    {% endfor %}
                </section>
            </div>
        </section>
        <section class="section_whole_page" id="con">
            <div class="container-fluid">
                <h2 class="h2">Contact</h2>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-center flex-column m-auto">
                    {% block contact_form %}
                        {% include 'home/components/contact-from.html.twig' %}
                        <div class="alert alert-success alert-dismissible fade show success mt-2" role="alert">
                            Thank you for contacting me I'll get back to you as soon as I can!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show error mt-2" role="alert">
                            An error occurred, please send me an email on <a href="mailto:anton@antonloginov.com">anton@antonloginov.com</a>, Thank you!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
